{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-standard", "stylelint-config-recess-order"],
  "rules": {
    "rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "selector-class-pattern": [
      "^(?!.*\\.\\.)(?!.*___)(?!.*\\.$)[0-9a-zA-Z_.-]{0,60}$",
      {
        "message": "Unavailable selector name"
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["box-orient"]
      }
    ],
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "block-opening-brace-space-before": "always",
    "declaration-block-no-redundant-longhand-properties": null,
    "function-no-unknown": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["deep"]
      }
    ]
  }
}
